* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ddd, #aaa);
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-bottom: 90px;
}

.container span {
    position: absolute;
    background: red;
    z-index: -1;
    pointer-events: none;
    animation: animate 10s ease-out infinite;
}

@keyframes animate {
    0%{
        transform: translateY(-600px) scale(0) rotate(0deg);
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        transform: translateY(1200px) scale(1) rotate(360deg);
        opacity: 0;
    }
}


.container form {
    width: 350px;
    background: rgb(255, 255, 255, .3);
    padding: 45px 25px;
    box-shadow: 0 6px 8px rgb(0, 0, 0, .3);
    border-radius: 15px;
    backdrop-filter: blur(4px);
    border-top: 2px solid #fff9;
    border-left: 2px solid #fff9;
}

.container form i {
    display: block;
    height: 120px;
    width: 120px;
    line-height: 110px;
    text-align: center;
    color: #999;
    border: 4px solid #999;
    border-radius: 50%;
    font-size: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container form .box {
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 17px;
    color: #666;
    background: rgb(255, 255, 255, .4);
    box-shadow: 0 1px 2px rgb(0, 0, 0, .3);
    text-transform: none;
}

.container form input[type="submit"] {
    height: 38px;
    width: 140px;
    border-radius: 50px;
    color: #fff;
    background: deeppink;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 0 3px 5px rgb(0, 0, 0, .3);
}

.container form input[type="submit"]:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.container form p {
    padding: 7px 0;
    color: #666;
}

.container form p a {
    color: #333;
}